:root {
  --text-color: #757575;
  --text-color-title: #212121;
  --text-font-size: 14px;
  --logo-first-word-color: #2196f3;
  --logo-header-color: #000000;
  --active-link-color: #2196f3;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --dark-background-text-color: #ffffff;
  --gatter-size: 15px;
  --double-gatter-size: 30px;
  --section-padding: 94px;
  --button-background-color-active: #188ce8;
  --collum-number: 3;
}
body {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: var(--text-font-size);
  font-weight: 400;
  font-size: 14px;
}

img {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--text-color-title);
}
p {
  margin: 0;
}

/* == Common styles == */
.display-flex {
  display: flex;
}
.section {
  padding: var(--section-padding) 0;
}
.conteiner {
  width: 1200px;
  padding-left: var(--gatter-size);
  padding-right: var(--gatter-size);
  margin: 0 auto;
}
.logo {
  padding: 25px 0;
  margin-right: 90px;

  font-family: "Raleway", sans-serif;
  color: var(--logo-header-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-first-word {
  color: var(--logo-first-word-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* == Heder styles == */
.header {
  border-bottom: 1px solid #ececec;
}
.header .conteiner {
  align-items: center;
}

.header-address,
.navigation-list {
  align-items: center;

  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  color: var(--text-color-title);
  padding: 32px 0;
}
.address-list {
  margin-left: auto;
}
.address-item:not(:last-child) {
  margin-right: 50px;
}
.address-link {
  padding: 32px 0;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address-link-icon {
  margin-right: 10px;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.address-link:hover,
.address-link:focus,
.navigation-list-link-active {
  color: var(--active-link-color);
}
.address-link-icon {
  fill: currentColor;
}

/* ===== Index.html styles =====*/

/* == Hero section styles == */

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/hero-background-image.jpg);
  background-color: var(--dark-background-color);
  color: var(--dark-background-text-color);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
}
.hero.section {
  padding: 200px 0;
}
.hero-title {
  color: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-button {
  background: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  padding: 10px 32px;
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-background-color-active);
}

/* == Features section styles == */

.features-list-title {
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: inherit;
  margin-bottom: 10px;
}
.features-list-item {
  width: 270px;
}
.features-list-item:not(:last-child) {
  margin-right: var(--double-gatter-size);
}
.features-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.features-list-icon .icon {
  width: 70px;
  height: 70px;
}

.features-list-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* == What we do styles == */
.doing.section {
  padding-top: 0;
}

.doing-list-item:not(:last-child) {
  margin-right: var(--double-gatter-size);
}
/* == Our team section styles == */

.team {
  background-color: var(--light-background-color);
}
.team-list {
  font-size: 16px;
}
.team-list-title {
  font-size: inherit;
  font-weight: 500;
  line-height: 1.187;
  letter-spacing: 0.03em;
}
.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-list-item:not(:last-child) {
  margin-right: var(--double-gatter-size);
}
.team-list-text {
  margin-bottom: 16px;
}
.team-list-text-conteiner {
  text-align: center;
  padding: var(--double-gatter-size);
}
.team-list-title {
  margin-bottom: 10px;
}
.social-list {
  display: flex;
}
.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
}
.social-list-link:hover,
.social-list-link:focus {
  color: #ffffff;
  background-color: var(--active-link-color);
}
.social-list-icon {
  fill: currentColor;
}
/* == partners styles == */

.partners-list {
  display: flex;
}

.partners-list-item {
  width: 170px;
  height: 90px;
}

.partners-list-item:not(:last-child) {
  margin-right: 30px;
}
.partners-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: #afb1b8 solid 1px;
  border-radius: 4px;
}
.partners-list-link:hover,
.partners-list-link:focus {
  color: var(--active-link-color);
  border-color: var(--active-link-color);
}
.partners-list-icon {
  fill: currentColor;
}
/* == footer styles == */

.footer {
  color: var(--dark-background-text-color);
  background-color: var(--dark-background-color);
  padding: 60px 0;
}
.logo-footer {
  color: var(--dark-background-text-color);
  padding: 0;
  margin-bottom: 20px;
}
.footer-address {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-address-link {
  margin-bottom: 10px;
}
.footer-list-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer-list-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}
.footer-list-link:focus,
.footer-list-link:hover {
  color: var(--active-link-color);
}
.footer .conteiner {
  align-items: baseline;
}
.address-conteiner {
  margin-right: 70px;
}
.dark-theme {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.social-link-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

/* ===== Portfolio.html styles ===== */

/* == examples section ==*/
.examples-filter {
  margin-bottom: 50px;
  justify-content: center;
}
.examples-filter-item:not(:last-child) {
  margin-right: 8px;
}
.examples-filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 5px 15px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.examples-filter-button:hover,
.examples-filter-button:focus,
.examples-filter-button.active {
  background: var(--active-link-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples-list {
  flex-wrap: wrap;
}
.examples-list-item {
  width: calc(
    (100% - (30px * (var(--collum-number) - 1))) / var(--collum-number)
  );
}

.examples-list-item:not(:nth-child(3n + 3)) {
  margin-right: var(--double-gatter-size);
}

.examples-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: var(--double-gatter-size);
}

.examples-list-link:hover,
.examples-list-link:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list-image {
  width: 100%;
}

.examples-list-text-conteiner {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.examples-list-title {
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples-list-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
